/*reset CSS*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset CSS*/

body {

    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #6a6a6a;

}

input#btnSubmit:hover {
    border: 1px solid #353535;
}

form {
    text-align: center;
    padding-left: 40px;
}

fieldset {
    border-style: none;
}

legend {
    text-align: center;
}

.button {
   font-family: 'Roboto', sans-serif;
}

#course {
    padding-left: 40px;
}

input {
    width: 50px;
}

.course {
    padding-left: 40px;
}


/*header CSS*/
.nav-wrap {
    width: 100vw;
    background-color: #92bd3f;
    margin: 0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

.nav-wrap img {
    width: 227px;
}

nav {
    float: right;
    font-family: sans-serif;
    margin-right: 30px;
    padding-top: 21px;
}

nav ol li {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

nav ol li a {
    text-decoration: none;
    color: #FFFDEA;
    margin-left: 5px;
    margin-right: 5px;
}

nav ol li a:hover {
    color: #ec9123;
}

header img{
    position: absolute;
    top: 0px;
    left: 0px;
}

/*end header CSS*/

/*index.php style*/

#center-logo {
    width: 50%;
    height: 50%;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #E57F1C;
}

p#center-text a {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 21px;
}

body {
    background-color: #FFFDEA;
}

#foot {
    background-color: #0D5F3A;
}

/*end index style*/

/*Schedule.php body level style*/

body#schedule {
    margin-top: 0px!important;
}

/**/


/*Schedule.php hero div CSS*/
.hero-bar img {
    width: 167px;
    float: left;
}

.hero-bar {padding: 12px 28px 15px 28px;text-align: center;height: 90px;}

.internal-nav {
    display: none;
    margin-left: auto;
    margin-right: auto;
    color: #ec9123;
    font-size: 18px;
    margin-top: 26px;
}

.internal-nav a {
    display: inline-block;
    color: #ec9123;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.internal-nav p {
    display: inline-block;
    font-size: 22px;
    font-weight: bolder;
}


/*end hero CSS*/

/*Start Schedule CSS*/

.TitleInfo {
    display: none;
}

.week {
    clear: both;
    float: none;
    display: block;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ec9123;
    padding-left: 20px;
    color:#353535;
}

.week h2 {
    font-size: 14px;
}

.week p {
    max-width: 40px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #ec9123; */
    padding: 6px 1px 0px 1px;
    border: 1px solid #353535;
}

footer{display:none;}



.Monday, .Tuesday, .Wednesday, .Thursday, .Friday {
    display: inline-block;
    text-align: center;
    max-width: 230px;
    height:400px;
    border-left: 1px solid #ec9123;
    border-right: 1px solid #ec9123;
    vertical-align:top;
    font-size:6px;
}

.week .Tuesday p {
    /*background-color: #c1cd23;*/
}

.week .Wednesday p {
    /*background-color: #1ea2f2;*/

}

.week .Thursday p {
    /*background-color: #e8c583;*/
}

.week .Friday p {
    /*background-color: #FFE224;*/
}

.ti {
    width: 40px;
    display: inline-block;
    font-size: 12px;
    padding-top: 20px;
}

.time {
    height: 24px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.week .ti p {
    max-width: 35px;
    background-color: initial!important;
    border:none;
}

.c {
    height: 36px;
    width: 44px;
    margin: 0px!important;
    display: block;
}

#mon1, #mon2, #mon3, #mon4, #mon5,  #tue1, #tue2, #tue3, #tue4, #tue5, #wends1, #wends2, #wends3, #wends4, #wends5, #thurs1, #thurs2, #thurs3, #thurs4, #thurs5, #fri1, #fri2, #fri3, #fri4, #fri5 {
    width: 42px;
    display: inline-block;
    margin: 0px!important;
    vertical-align: top;
    padding-top: 20px;
}



.Monday {
    margin-left: 5px;
}

div#tue1 {
    display: inline-block;
}

div#wends1 {
    display: inline-block;
}

div#thurs1 {
    display: inline-block;
}

div#fri1 {
    display: inline-block;
}



/*end Schedule CSS*/

/*Course Form CSS*/

img#logo {
    width: 532px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

legend {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

input#btnSubmit {
    text-decoration: none;
}

a#addsection {
    text-decoration: none;
    color: #ec9123;
}

a#addsection:hover {
    color: #88b2df;
}

.section {
    font-size: 24px;
}

fieldset.button {
    font-size: 24px;
    height: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

body#courseForm form fieldset.button {
    margin-bottom: 30px;
}
/*end course form*/

/*profile.php*/

article {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 24px;
}


aside.petInfo h1 a {
    margin-left: 10px;
}

aside.petInfo ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

aside.petInfo h1 {
    margin-bottom: 5px;
}

form#frmRegister {
    margin-top: 100px;
    padding-left: 0px;
}

fieldset.info h1 {
    margin-bottom: 15px;
}

fieldset.info {
    font-size: 24px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

input#txtStudentFirstName {}

fieldset.info input {
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ec9123;
}

.info label.required {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input#btnSubmit {
    height: 30px;
    border: none;
    margin-top: 15px;
}
/*end profile.php*/



/* search functionality */
#classListDiv {
    margin-left: 30%;
}
